{% extends 'webanalytique/base.html' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Web Analytique</h1>
            </div>
        </div>
        <div class="row">
            <a class="col-12 col-sm-6 d-flex justify-content-center align-items-center my-5 py-5 border" href="/data1">
                <div class="lead">Data1</div>
            </a>
            <a class="col-12 col-sm-6 d-flex justify-content-center align-items-center my-5 py-5 border" href="/data2">
                <div class="lead">Data2</div>
            </a>
        </div>
        <div class="row">
            <div class="col text-center small">
                By 21600848 & 22011107
            </div>
        </div>
    </div>
{% endblock %}